<?xml version="1.0" encoding="UTF-8"?>
<!--
This was an attribute in <phpunit> tag but since I don't have the file phpunit complained: bootstrap="vendor/autoload.php".
I see no other project having a vendor folder, usually an autoload.php neither - so how is this suppose to work?
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Nacho Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>